
:root{
    --primary-color: #355070;
    --secondary-color: #6d597a;
    --secondary-color: #b56576;
    --tertiary-color: #e56b6f;
    --quater-color: #eaac8b;
    --white: #fff;
}
.topbarcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white);
    position: sticky;
    top: 0;
}

.topbarleft{
    flex:3;
}

.topbarcenter{
    flex:5;
}

.topbarright{
    flex:4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topbarimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color:var(--white);
    margin-left: 20px;

}

.searchbar{
    display: flex;
    align-items: center;
    background-color: var(--white);
    color: gray;
    border-radius: 20px;
    width: 80%;
    height: 2.2rem;
}

.searchicon{
    width: 20px !important;
    margin-left:10px;

}
.searchinput{
    border:none;
    outline:none;
;
}

.topbarlink{
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.topbaricons{
    display: flex;
}
.topbariconitem{
    margin-right: 15px;
    position:relative;
    cursor: pointer;
}

.topbarlink:hover{
    color: var(--tertiary-color);
    font-weight: bold;
}

.topbariconbadge{
    width:17px;
    height: 17px;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    color: var(--white);
    position: absolute;
    top:-5px;
    right:-8px;
    display: flex;
    align-items: center;
    justify-content: center;
}